@page "/Update/{EmployeeId}"

@using CommonLayer.Models
@using BusinessLayer.Interface
@using System.Threading

@inject IEmployeeRegisterBL employeeBL
@inject NavigationManager navigate

<!--Creating the header element with logo and text using flex and css for homepage(UC14)-->
<header class="header-content header">
    <div class="logo-content">
        <img src="../assets/images/logo.png" alt="Logo" />
        <div class="emp_text">
            <span><a href="HomePage">Employee</a></span><br>
            <span class="emp_text_payroll">Payroll</span>
        </div>
    </div>
</header>

<!--Creating the form element with input name-->
<div class="form-content">
    <form class="form">
        <EditForm Model="@employee">
            <span class="form-head">Employee Payroll Register</span>
            <div class="row-content">
                <label class="label text label-bold" for="empName">Employee Name</label>
                <input type="text" class="input" name="empName" @bind-value="@employee.Name" id="empName" placeholder="Enter Your Name Here..." required>
                <error class="error" id="errorName"></error>
            </div>

            <!--Creating the form element with input type radio to select profile pic-->
            <div class="row-content">
                <label class="label text label-bold" for="profiles">Profile Image</label>
                <div class="profile-checkbox-content">
                    <label class="main">
                        <input type="checkbox" class="largerCheckbox" id="profile1" name="profile" value="./assets/profile-images/Ellipse -1.png" @onchange="@(()=> AddImg("./assets/profile-images/Ellipse -1.png"))" />
                        <span class="checkmark" id="profile1"></span>
                        <img class="profile" id="img1" src="./assets/profile-images/Ellipse -1.png" />
                    </label>
                    <label class="main">
                        <input type="checkbox" class="largerCheckbox" id="profile2" name="profile" value="./assets/profile-images/Ellipse -2.png" @onchange="@(()=> AddImg("./assets/profile-images/Ellipse -2.png"))" />
                        <span class="checkmark" id="profile2"></span>
                        <img class="profile" id="img2" src="./assets/profile-images/Ellipse -2.png" />
                    </label>
                    <label class="main">
                        <input type="checkbox" class="largerCheckbox" id="profile3" name="profile" value="./assets/profile-images/Ellipse -3.png" @onchange="@(()=> AddImg("./assets/profile-images/Ellipse -3.png"))" />
                        <span class="checkmark" id="profile3"></span>
                        <img class="profile" id="img3" src="./assets/profile-images/Ellipse -3.png" />
                    </label>
                    <label class="main">
                        <input type="checkbox" class="largerCheckbox" id="profile4" name="profile" value="./assets/profile-images/Ellipse -4.png" @onchange="@(()=> AddImg("./assets/profile-images/Ellipse -4.png"))" />
                        <span class="checkmark" id="profile4"></span>
                        <img class="profile" id="img4" src="./assets/profile-images/Ellipse -4.png" />
                    </label>
                </div>
            </div>

            <!--Creating the form element with input type radio to select gender-->
            <div class="row-content">
                <label class="label text label-bold" for="gender">Gender</label>
                <div class="profile-checkbox-content">
                    <MatRadioGroup @bind-Value="@Types" Items="@Genders">
                    </MatRadioGroup>
                    @if (Types != null)
                    {
                        employee.Gender = Types;
                    }
                </div>
            </div>

            <!--Creating the form element with input type checkbox to select department-->
            <div class="row-content">
                <label class="label text label-bold" for="department">Department</label>
                <select class="ip" name="department" id="department" @bind="@employee.Department" required>
                    <option value="--">-- Select Department --</option>
                    <option value="Robotics">Robotics</option>
                    <option value="Devops">Devops</option>
                    <option value="Web Developer">Web Developer</option>
                    <option value="Finance">Finance</option>
                    <option value="Business">Business</option>
                    <option value="HR">HR</option>
                    <option value="ML">Machine Learning</option>
                </select>
            </div>

            <!--Creating the form element with input type range to select salary-->
            <div class="row-content">
                <label class="label text label-bold" for="salary">Salary</label>
                <input class="input input-salary" @bind="@employee.Salary" type="number" defaultvalue="360000" min="200000" max="800000" step="1000" required>
                <error class="error" id="errorName"></error>
            </div>
            <!--Creating the form element with select to select day, month and year-->
            <div class="row-content">
                <label class="label text label-bold" for="startDate">Start Date</label>
                <input class="input input-salary" @bind="@employee.StartDate" type="date" placeholder="" s />
                <error id="errorDate" class="error errorDate" name="errorDate"></error>
            </div>
            <!--Creating the form element with notes and buttons-->
            <div class="row-content">
                <label class="label text label-bold" for="notes">Notes</label>
                <textarea rows="4" class="input" @bind="@employee.Notes" placeholder="Enter Any Notes or Comments here" id="notes" style="height: 100px;" required></textarea>
            </div>
            <div class="button_container">
                <div class="buttons">
                    <button type="submit" @onclick="@UpdateEmployee" class="submit_button button" id="submitButton">Update</button>
                    <button type="button" @onclick="@GoBack" class="cancel_button button" id="submitButton">Cancel</button>
                </div>
                <MatSnackbar @bind-IsOpen="@snackBarUpdate">
                    <a href="HomePage" class="snackbarSubmit">
                        <span class="oi oi-cloud-upload icon"></span>
                        <MatSnackbarContent Style="font-size:20px;color:#f7f7f7">Updated The Employee Successfully...!!!</MatSnackbarContent>
                    </a>
                </MatSnackbar>
            </div>
        </EditForm>
    </form>
</div>


@code {
    [Parameter]
    public string EmployeeId { get; set; }
    protected string Types;

    protected string[] Genders =
        {
        "Male",
        "Female",
        "Others",
    };

    /// <summary>
    /// Initializing Variables And Object
    /// </summary>
    bool snackBarUpdate = false;
    EmployeeModel employee = new EmployeeModel();

    /// <summary>
    /// Method To Add Employee To Employee Model For Binding
    /// </summary>
    /// <param name="img"></param>
    protected void AddImg(string img)
    {
        employee.ProfileImg = img;
    }

    /// <summary>
    /// Method To Update Existing Employee
    /// </summary>
    protected void UpdateEmployee()
    {
        employeeBL.UpdateEmployee(employee);
        snackBarUpdate = true;
        this.StateHasChanged();
    }

    /// <summary>
    /// Method To Get Employee From DB On Page Load
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        employee = await Task.Run(() => employeeBL.GetEmployee(Convert.ToInt32(EmployeeId)));
    }

    /// <summary>
    /// Method To Navigate To HomePage
    /// </summary>
    void GoBack()
    {
        //Thread.Start(1000);
        navigate.NavigateTo("HomePage");
    }
}